<a name="cfp"></a>
<section class="alpha_24">
    <div class="container group">
        <div class="column_6 centered">
            <h3 class="center">Call for papers</h3>

            <p style="text-align: center">
                The call for papers is over. Speakers will be announced soon!
            </p>
            {% comment %}
                <p>
                The <a href="{{page.cfp_url}}">call for papers is open</a> and will be closed on <strong>September 13,
                2015</strong>. <br/>

                Please <a href="{{page.cfp_url}}">send your proposals</a>. Speakers' package include one night at the
                hotel (before the event), speakers' dinner on the evening before and lunch and coffeee breaks on the day
                of the conference.</p>
            {% endcomment %}

        </div>

        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
