<a name="info"></a>
<section class="alpha_14 conference">
    <div class="container group">

        <div class="column_6 centered">
            <h3 class="center">The conference</h3>

            <p>
                React.js is the JavaScript library developed by Facebook and Instagram to create fast and reusable user
                interfaces.
            </p>

            <p>
                Introducing new development paradigms and best practices to the frontend, it has gathered a large and
                active community of developers.
            </p>

            <p>
                The conference is organized by <a href="http://www.grusp.org" target="_blank" title="GrUSP">GrUSP</a>,
                the organizers of
                <a href="http://www.jsday.it" target="_blank">jsDay</a>, in partnership with
                <a href="http://www.fevr.it" target="_blank" title="FEVR - Frontenders Verona">FEVR - Frontenders Verona</a>.
            </p>

            <p>Stay in touch by <a href="http://eepurl.com/rCZZT" target="_blank">subscribing to our newsletter</a></p>
        </div>


        <div class="clear"></div>
    </div>
    <div class="separator"></div>
</section>
