<section class="sponsors">
    <a name="sponsor"></a>

    <div class="container group">

        <div class="container group">

            {% if page.cfs %}

            <div class="column_6 centered">
                <h3 class="center">Sponsor us!</h3>

                <p>
                    A great event is made also by great sponsors, why not use the opportunity to contribute to the
                    conference?
                    <a href="mailto:info@grusp.org">Contact us</a> for more info on how to support us!
                </p>
            </div>
            <div class="clear"></div>

            <div class="column_6 centered">
                <h4 class="center">Main sponsor</h4>
                <p>There is only one main sponsor per conference, who can have its own stand to meet the attendees</p>
                <span class="euro btn">€ 2500</span>
                <ul class="benefit">
                    <li>Your banner on conference website</li>
                    <li>Advertisement in pre-event communications</li>
                    <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                    <li>Logo on printed conference programme</li>
                    <li>Your own roll-up in the venue</li>
                    <li>5 free tickets</li>
                    <li><strong>Stand in the venue</strong></li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="column_4">
                <h4 class="gold">Gold</h4>
                <span class="euro btn">€ 1.000</span>
                <ul class="benefit">
                    <li>Your banner on conference website</li>
                    <li>Advertisement in pre-event communications</li>
                    <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                    <li>Logo on printed conference programme</li>
                    <li>Your own roll-up in the venue</li>
                    <li>3 free tickets</li>
                </ul>
            </div>

            <div class="column_4">
                <h4 class="silver">Silver</h4>
                <span class="euro btn">€ 500</span>
                <ul class="benefit">
                    <li>Your banner on conference website</li>
                    <li>Advertisement in pre-event communications</li>
                    <li>Bring your own gadgets (e.g. flyers, stickers, t-shirts)</li>
                    <li>Logo on printed conference programme</li>
                    <li>2 free tickets</li>
                </ul>
            </div>

            <div class="column_4">
                <h4 class="bronze">Bronze</h4>
                <span class="euro btn">€ 300</span>
                <ul class="benefit">
                    <li>Your banner on conference website</li>
                    <li>Advertisement in pre-event communications</li>
                    <li>1 free tickets</li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>

        {% endif %}

        <h3>Sponsors</h3>

        <div class="gold_sponsors">
            <h4 class="gold">Gold</h4>

            <div class="clear"></div>
        </div>

        <div class="silver_sponsors">
            <h4 class="silver">Silver</h4>

            <a class="banner" href="http://www.notonthehighstreet.com/" title="Not on the high street">
                <img src="/img/sponsors/sponsor_noths.jpg" alt="sponsor Not on the high street"/>
            </a>

            <a class="banner" href="http://www.workwave.com" title="WorkWave">
                <img src="/img/sponsors/sponsor_workwave.jpg" alt="sponsor WorkWave"/>
            </a>

            <br>

            <a class="banner" href="http://www.madisoft.it" title="Madisoft">
                <img src="/img/sponsors/sponsor_madisoft.png" alt="sponsor Madisoft"/>
            </a>

            <a class="banner" href="http://www.happybrain.it/" title="Happy Brain | Creative &amp; Digital Agency">
                <img src="/img/sponsors/sponsor_happy-brain.png" alt="sponsor Happy Brain"/>
            </a>

            <div class="clear"></div>
        </div>

        <div class="bronze_sponsors">
            <h4 class="bronze">Bronze</h4>

            <a class="banner" href="http://www.degordian.com/" title="degordian">
                <img src="/img/sponsors/sponsor_degordian.png" alt="sponsor degordian"/>
            </a>

            <a class="banner" href="http://www.hyperfair.com/" title="Hyperfair">
                <img src="/img/sponsors/sponsor_hyperfair.png" alt="sponsor Hyperfair"/>
            </a>

            <a class="banner" href="https://www.entaksi.eu/" title="Entaksi Solutions">
                <img src="/img/sponsors/sponsor_entaksi.png" alt="sponsor Entaksi Solutions"/>
            </a>

            <br>

            <a class="banner" href="http://www.aquest.it/en" title="AQuest | Digital Creative Agency">
                <img src="/img/sponsors/sponsor_aquest.png" alt="sponsor AQuest"/>
            </a>

            <a class="banner" href="http://www.ideato.it" title="Ideato">
                <img src="/img/sponsors/sponsor_ideato.jpg" alt="sponsor ideato"/>
            </a>

            <a class="banner" href="http://www.jsday.it" title="jsday">
                <img src="/img/sponsors/sponsor_jsday.png" alt="sponsor jsday"/>
            </a>

            <br>

            <a class="banner" href="http://www.jsbestpractices.it" title="PHP best practices">
                <img src="/img/sponsors/sponsor_jsbestpractices.png" alt="sponsor Js best practices" width="300"
                     height="120"/>
            </a>

            <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
                <img src="/img/sponsors/sponsor_phpbestpractices.png" alt="sponsor PHP best practices" width="300"
                     height="120"/>
            </a>

            <a class="banner" href="http://www.phpday.it" title="phpday">
                <img src="/img/sponsors/sponsor_phpday.png" alt="sponsor phpday"/>
            </a>

            <!--a class="banner" href="http://qrurl.it/r/1in" title="servergrove">
              <img src="/img/sponsor_servergrove.jpg" alt="sponsor Servergrove" />
            </a-->

            <div class="clear"></div>
        </div>

        <h3>Patronage</h3>
        <div class="bronze_sponsors">
            <a class="banner" href="http://www.ingegneri.vr.it/" title="Ordine degli Ingegneri di Verona e Provincia">
                <img src="/img/patronage/patronage_ordine-ingegneri.png" alt="Media Partner Ordine degli Ingegneri di Verona e Provincia" />
            </a>
            <div class="clear"></div>
        </div>

        <h3>Media Partner</h3>
        <div class="bronze_sponsors">
            <a class="banner banner--square" href="http://milanojs.com/" title="MilanoJS">
                <img src="/img/media/media_mijs.png" alt="Media Partner MilanoJS" />
            </a>

            <a class="banner" href="http://www.codemotionworld.com/" title="Codemotion">
                <img src="/img/media/media_codemotion.jpg" alt="Media Partner Codemotion" />
            </a>

            <a class="banner" href="https://www.facebook.com/groups/programmersinpadua/" title="Programmers in Padua">
                <img src="/img/media/media_pip.png" alt="Media Partner Programmers in Padua" />
            </a>

            <a class="banner" href="http://2015.pgday.it/" title="Italian PostgreSQL User Group">
                <img src="/img/media/media_itpug.png" alt="Media Partner IT-PUG" />
            </a>

            <div class="clear"></div>
        </div>

    </div>
    <div class="separator"></div>
</section>
