<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">The schedule</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" title="">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:40</td>
        <td>
            <h4><a href="#" title="">Presentation of GrUSP</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:40 &ndash; 09:50</td>
        <td>
            <h4><a href="#" title="">Presentation of FEVR and REACT.JS Day</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">09:55 &ndash; 10:25</td>
        <td>
            <h4><a href="#" rel="tooltip" title="Isn't React that clear? Don't you fully understand how/why you should use it on your apps and why it gained all this attention? Do you want to learn the basics and to understand why it's so powerful? In this talk you will see how this library works and you will discover and understand its main concepts in details: Components, Virtual DOM, One-way data binding.">React.js: Rethinking UI development</a></h4>
            <a href="http://twitter.com/stecb" target="_blank" title="Stefano Ceschi Berrini">Stefano Ceschi Berrini - @stecb</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:30 &ndash; 11:15</td>
        <td>
            <h4><a href="#" rel="tooltip" title="Talking about inline styles is always hard and there are still a lot of unanswered questions, like: 'are you kidding me?'. I'll try to give you the key to enter the magical world of #CSSinJS (or to stay away from it forever).">Inline Styles</a></h4>
            <a href="http://twitter.com/MicheleBertoli" target="_blank" title="Michele Bertoli">Michele Bertoli - @MicheleBertoli</a><br />
        </td>
      </tr>

      <tr class="break">
        <td class="time">11:15 &ndash; 11:30</td>
        <td>
          <h4><strong>Coffee break</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">11:30 &ndash; 12:15</td>
        <td>
            <h4><a href="#" rel="tooltip" title="Since Flux has been announced we have seen an endless stream (a flux?) of Flux frameworks. Redux (http://rackt.github.io/redux) is 'yet another one', but for me it's special. A few highlights that set it apart from the rest are that it has a fully functional design, to the point that its stores are stateless (can you picture a stateless store?), a tiny API surface (and even its full weight is small, at 2kb of code added to the page), and the fact that it enables the use of a time-traveler debugger (sort of like the Elm language does). So, are you ready for time traveling?">What the Flux? Let’s Redux!</a></h4>
            <a href="http://twitter.com/M_a_s_s_i" target="_blank" title="Massimiliano Mantione">Massimiliano Mantione - @M_a_s_s_i</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">12:20 &ndash; 12:50</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="Companies always focus on User Experience because customer satisfaction is what pays the bill. But it's 2015, we can have both a great User Experience and a great Developer Experience. React ecosystem is full of awesome developers who care about their DX. It's time to improve our daily experience, as developers, to also improve our customer's satisfaction. This talk will show many tools to have a better development experience (webpack, babel, eslint, etc..). We'll see different libraries for React that will improve development time and give us back the fun of doing front-end development.">Developer Experience in the React ecosystem</a>
          </h4>
          <a href="http://twitter.com/cef62" target="_blank" title="Matteo Ronchi">Matteo Ronchi - @cef62</a><br />
        </td>
      </tr>

      <tr class="break lunch">
        <td class="time">12:50 &ndash; 14:05</td>
        <td><h4><strong>Lunch</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:05 &ndash; 14:35</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="So people love react, that's no secret, but what's up with react-native? In this talk we investigate how to build native mobile apps, just for iOS for the moment, in react-native. We dive into its'  APIs, investigate native components and show ways how to use it with your native code. Additionally we explain what's so special and different in react-native and why people should use it">Rethinking mobile with react-native</a>
          </h4>
          <a href="http://twitter.com/hotifatos" target="_blank" title="Fatos Hoti">Fatos Hoti - @hotifatos</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">14:40 &ndash; 15:25</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="Universal JavaScript is the new frontier in web application architecture. Isomorphic code can be run on any environment, providing great flexibility. In this talk, we will tell you the story of how we went from an empty Gulpfile to a fully fledged, automated development environment, a robustly tested production-ready application, all delivered as a Docker image and based on Node, Express, React and the Fluxible library.">The Front End That Ran On The Server</a>
          </h4>
          <a href="http://twitter.com/SiAdcock" target="_blank" title="Simon Adcock">Simon Adcock - @SiAdcock</a> &amp; <a href="http://twitter.com/kosmotaur" target="_blank" title="Marek Stasikowski">Marek Stasikowski - @kosmotaur</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">15:30 &ndash; 16:00</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="As a developer working on rich, end-user facing web applications, I have been working for two years using Ember.js. In the last year, I started using React, with very good results in terms of both development speed and ease of maintenance, especially in the context of managing server-side data persistence directly from the client. I will talk about my experience, and I will give my reasons on why I'm not going back.">From Ember to React, One way ticket</a>
          </h4>
          <a href="javscript:void(0);" title="Francesca Barbazeni">Francesca Barbazeni</a><br />
        </td>
      </tr>

      <tr class="break">
        <td class="time">16:00 &ndash; 16:15</td>
        <td>
          <h4><strong>Coffee break</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:15 &ndash; 16:45</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="This is a tale of a large, feature-rich and Backbone-driven single-page app. A mobile banking app, possibly Norway's largest and most complex single-page app. The codebase has grown to over 100k lines of js. At scale, any flaws in your frontend architecture has transformed into a nasty monster that will bite you in the ass at every opportunity. Thus - our repo is a monster zoo by now. We've managed to reduce the complexity in our app by utilizing React as our view layer. The functional and declarative way of programming is our bug vaccine, and reusable components is our consistency pill. The coexistence of React and Backbone is not entirely straightforward, but has helped us tremendously in dealing with our big state machine. This journey has taught us some valuable lessons. This is the story of how we used React to tame the single-page beast.">How we used React to tame the single-page beast</a>
          </h4>
          <a href="http://twitter.com/ewndl" target="_blank" title="Erik Wendel">Erik Wendel - @ewndl</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">16:50 &ndash; 17:35</td>
        <td>
          <h4>
            <a href="#" rel="tooltip" title="In this talk i wish to share tips and pitfalls encountered during development of a desktop application (streaming console for the @spreaker platform) with github electron nodejs and react.  I'm gonna explain challenges and obstacles found during  development, tools we picked and lesson we learned along the way. The talk will be techical.">Building a desktop streaming console with electron and React.js</a>
          </h4>
          <a href="http://twitter.com/emanuele_r" target="_blank" title="Emanuele Rampichini">Emanuele Rampichini - @emanuele_r</a><br />
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:35</td>
        <td><h4><a href="#" title="">Bye bye from GrUSP and FEVR</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
