<div class="container">
    <!-- Start: Desc -->
    <div class="row me-row content-ct">
      <h2 class="row-title">Why This Event Is Super Cool?</h2>
      <div class="col-md-4 feature">
        <span class="ti-ticket"></span>
        <h3>200 Attendees in last Edition</h3>
      </div>
      <div class="col-md-4 feature">
        <span class="ti-microphone"></span>
        <h3>12+ Expert Speakers</h3>
      </div>
      <div class="col-md-4 feature">
        <span class="ti-world"></span>
        <h3>People around the globe!</h3>
      </div>
    </div>
    <!-- End: Desc -->
</div>