<div class="container">
    <!-- Start: Desc -->
    <div class="row me-row content-ct" id="cfp">
      <h2 class="row-title">The <a href="{{page.cfp_url}}">call for papers is open</a> and will be closed on <strong>August 26, 2016</strong>.</h2>
      <div class="col-md-12 feature">
        <h3>Please <a href="{{page.cfp_url}}">send your proposals</a>. Speakers' package include one night at the
                hotel (before the event), speakers' dinner on the evening before and lunch and coffeee breaks on the day
                of the conference.</h3>
      </div>
    </div>
    <!-- End: Desc -->
</div>